@use "../vars/vars";

@layer vetools {
	@include vars.mix-is-print {
		.ve-print__ {
			&hidden {
				display: none !important;
			}

			&block {
				display: block !important;
			}

			&h-initial {
				height: initial !important;
			}

			&overflow-visible {
				overflow: visible !important;
			}

			&m-0 {
				margin: 0 !important;
			}

			&my-2 {
				margin-top: (vars.$spacer * 0.5) !important;
				margin-bottom: (vars.$spacer * 0.5) !important;
			}
		}
	}
}
